html,
body {
  background-color: #F4F3F3;
  padding: 0;
  margin: 0;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 20px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.summary {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.summary h4 {
  margin-bottom: 8px;
}

.slide-in-top {
  animation: slide-in-top .5s cubic-bezier(.25, .46, .45, .94) both
}

.confirm-btn {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 14px;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.confirm-btn:hover {
  background-color: #1b5e20;
}

.second-btn {
  background-color: #646363d5;
  color: white;
  border: none;
  padding: 14px;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.second-btn.active {
  background-color: #575757;
  color: white;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.second-btn:hover {
  background-color: #575757;
}

.exit-btn {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 14px;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.exit-btn:hover {
  background-color: #b71c1c;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 10px;
}

.footer p {
  margin: 6px 0;
  font-size: 14px;
  color: #555;
}

.icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 25px;
  padding: 10px 8px;
  border-radius: 8px;
  border: 0.1px solid #ddd;
  display: inline-block;
  text-align: center;
}

.icon:hover {
  background: lightgrey;
  transform: scale(1.1);
}

.icon-selected {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 25px;
  padding: 10px 8px;
  border-radius: 8px;
  border: 0.1px solid #ddd;
  display: inline-block;
  text-align: center;
  background: lightgrey;
  scale: 1.1;
}

.driver-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 10px;
  padding: 10px 8px 6px 9px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 0.1px solid #ddd;
  display: inline-block;
  text-align: center;
}

.driver-icon:hover {
  background: lightgrey;
  transform: scale(1.1);
}